@import "tailwindcss";

:root {
  --background: #606D47;
  --foreground: #DDC5A6;
  --foreground-rgb: 221, 197, 166;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-serif);
  --font-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #606D47;
    --foreground: #DDC5A6;
    --foreground-rgb: 221, 197, 166;
  }
}

.hero {
  background-image: url('/hero/hero-sm.jpg');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
